server:
  port: 8084

spring:
  application:
    name: mail-service
  mail:
    host: smtp.gmail.com
    port: 465
    username: prasanna.vsp80@gmail.com
    password: soqdhechjkcchkgl
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
