server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/user_db
    username: root
    password: Sql@server1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

MAIL_SERVICE_URL: http://localhost:8084

jwt:
  secret: My_name_is_Jatin_Verma_secret_key_for_user
  expiration-ms: 86400000
